<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.first_name.label }} {{ form.first_name() }}
        </div>
        <div>
            {{ form.last_name.label }} {{ form.last_name() }}
        </div>
        <div>
            {{ form.email.label }} {{ form.email() }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
